<div class="layer-index">
  {% for layer in site.data.layers %}
    <a
      class="layer-row"
      id="layer-{{ layer.id }}"
      data-toc-label="{{ layer.code }} {{ layer.label | escape }}"
      href="{{ layer.url | relative_url }}"
    >
      <span class="layer-code">{{ layer.code }}</span>
      <span
        class="layer-name"
        data-i18n
        data-en="{{ layer.label | escape }}"
        data-zh="{{ layer.label_zh | escape }}"
      >{{ layer.label }}</span>
      <span class="material-symbols-outlined" aria-hidden="true">{{ layer.icon }}</span>
      <span
        class="layer-description"
        data-i18n
        data-en="{{ layer.description | escape }}"
        data-zh="{{ layer.description_zh | escape }}"
      >{{ layer.description }}</span>
    </a>
  {% endfor %}
</div>
